<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Papyrus</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon"/>
</head>
<body >
<main >
    <div class="wrapper">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    {{{body}}}
    </div>
</main>
</body>
</html>