<div>
    <h1>{{assignment.name}}</h1>
    <p>{{assignment.description}}</p>
    <span>{{assignment.dueDate}}</span>
    <button class="customButton">Submit</button>
    <a href="/class/{{class.id}}">back</a>
</div>