<form id="class-form">
    <h1>Class Creation</h1>
    <label for="name">Class Name</label>
    <input id="name" type="text" placeholder="class name" required>
    <label for="student">Students</label>
    <input id="student" placeholder="studentID" pattern="[0-9]{8}">
    <button id="add-student" type="button">Add Student</button>
    <div id="error"></div>
    <ul id="students">
    </ul>
    <button class="customButton" type="submit">Create</button>
</form>
<script src="/public/js/class.js"></script>
<a href="/class">Back To Class List</a>
