<form method="POST" action="/class/{{classId}}">
    <h1>Assignment Creation</h1>
    <label for="name">Assignment Name</label>
    <input id="name" type="text" placeholder="assignment name">
    <label for="prompt">Prompt</label>
    <textarea id="prompt" placeholder="insert prompt here"></textarea>
    <button type="submit">Create</button>
</form>
<a href="/class/{{classId}}">Back To Class</a>