<form method="POST" action="/class/{{classId}}/announcement">
    <h1>Announcement Creation</h1>
    <label for="name">Announcement Name</label>
    <input id="name" name="name" type="text" placeholder="announcement name">
    <label for="prompt">Description</label>
    <textarea id="prompt" name="prompt" placeholder="insert description here"></textarea>
    <button type="submit">Create</button>
</form>
<a href="/class/{{classId}}">Back To Class</a>