
<form method="POST" action="/login">
    <label for="username">Username</label>
    <input id="username" type="text" placeholder="Username" class="">
    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Password" class="">
    <button id="login-button" type="submit">Login</button>
</form>
{{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
            <li>
                {{this}}
            </li>
        {{/each}}
    </ul>
{{/if}}
<div>
    <button id="login-teacher-creation">New Teacher</button>
    <button id="login-student-creation">New Student</button>
</div>
<script src="/public/js/login.js"></script>