
<div>
    <label for="username">Username</label>
    <input id="username" type="text" placeholder="Username" class="">
    <label for="password"></label>
    <input id="password" type="password" placeholder="Password" class="">
    <button id="login-button">Login</button>
</div>
<div>
    <button id="login-teacher-creation">New Teacher</button>
    <button id="login-student-creation">New Student</button>
</div>
<script src="public/js/login.js"></script>