<table border="0">
<form method="POST" action="/new/student">
    <h1>Student Creation</h1>
        <tr>
            <td>
                <label for="studentID">Student ID</label>
            </td>
            <td>
                <input id="studentID" name="_id" type="number" pattern="[0-9]{8}" placeholder="10000000" oninvalid="setCustomValidity('Id must be 8 numerical characters')" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="first-name">First Name</label>
            </td>
            <td>
                <input id="first-name" name="firstName" type="text" placeholder="First Name" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="last-name">Last Name</label>
            </td>
            <td>
                <input id="last-name" name="lastName" type="text" placeholder="Last Name" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="username">Username</label>
            </td>
            <td>
                <input id="username" name="username" type="text" placeholder="Username" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password</label>
            </td>
            <td>
                <input id="password" name="password" type="password" placeholder="Password" onchange="check()" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="confirm-password">Confirmed Password</label>
            </td>
            <td>
                <input id="confirm-password" type="password" placeholder="Confirm Password" onkeyup="check()" required>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="customButton" type="submit">Create</button>
            </td>
        </tr>
</form>
{{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
            <li>
                {{this}}
            </li>
        {{/each}}
    </ul>
{{/if}}
<tr>
    <td colspan="2">
        <a href="/login">Back To Login</a>
    </td>
</tr>

 </table>
<script src="/public/js/creation.js"></script>
