<form method="POST" action="/newTeacher">
    <h1>Teacher Creation</h1>
    <label for="teacherID">Student ID</label>
    <input id="teacherID" type="text" pattern="[0-9]+{9}" placeholder="100000000">
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" placeholder="First Name">
    <label for="last-name">Last Name</label>
    <input id="last-name" type="text" placeholder="Last Name">
    <label for="username">Username</label>
    <input id="username" type="text" placeholder="Username">
    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Password">
    <label for="confirm-password">Confirmed Password</label>
    <input id="confirm-password" type="password" placeholder="Confirm Password">
    <button type="submit">Create</button>
</form>
<a href="/login">Back To Login</a>
<script src="public/js/teacher.js"></script>